@model moment3cdsamling.Models.Loan

@{
    ViewData["Title"] = "Lägg till lån av album";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-12 col-md-4">
                    <label asp-for="AlbumId" class="control-label fw-bold"></label>
                    <select asp-for="AlbumId" class ="form-control" asp-items="ViewBag.AlbumId"></select>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label asp-for="PersonId" class="control-label fw-bold"></label>
                    <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label asp-for="BorrowedDate" class="control-label fw-bold"></label>
                    <input asp-for="BorrowedDate" class="form-control" />
                    <span asp-validation-for="BorrowedDate" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Tillbaka till listan</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
