@{
    ViewData["Title"] = "Välkommen";
}

<h1>@ViewData["Title"]</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sodales neque sodales ut etiam sit amet nisl. Sed lectus vestibulum mattis ullamcorper velit sed. Amet volutpat consequat mauris nunc congue. Nisl nisi scelerisque eu ultrices vitae. Ut pharetra sit amet aliquam. Commodo elit at imperdiet dui accumsan sit amet. Aliquet enim tortor at auctor urna nunc. Augue lacus viverra vitae congue eu. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Nec dui nunc mattis enim. Odio ut enim blandit volutpat maecenas volutpat blandit. Massa enim nec dui nunc. Phasellus egestas tellus rutrum tellus pellentesque eu.</p>
<div class="d-flex">
    <div class="col-12 col-md-6">
        <p>Odio ut enim blandit volutpat maecenas volutpat blandit.</p>
        <ul>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
        </ul>
    </div>
    <div class="col-12 col-md-6">
        <p>Odio ut enim blandit volutpat maecenas volutpat blandit.</p>
        <ul>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
            <li>Odio ut enim blandit volutpat maecenas volutpat blandit.</li>
        </ul>
    </div>
</div>
