@{
    // Save title to ViewData
    ViewData["Title"] = "Välkommen";
}

<h1>@ViewData["Title"]</h1>
<!-- Information about the assignment -->
<p>I moment 3 har uppgiften varit att skapa en databaskopplad applikation för en CD-samling baserad på ASP.NET Core MVC med hjälp av Entity Framework Core.</p>
<div class="d-block d-md-flex">
    <div class="col-12 col-md-6">
        <!-- Mandatory requirements -->
        <p class="fw-bold">Obligatoriska krav</p>
        <ul>
            <li>Användning av Models, Controllers och Views.</li>
            <li>Användning av Entity Framework Core.</li>
            <li>Användning av principen CodeFirst vid skapande av databas.</li>
            <li>Information om ett album ska kunna skapas, visas, ändras och raderas.</li>
            <li>Alla album samt information om enskilda album ska kunna visas.</li>
        </ul>
    </div>
    <div class="col-12 col-md-6">
        <!-- Optional requirements -->
        <p class="fw-bold">Frivilliga krav</p>
        <ul>
            <li>Hantera lån av album med information om personen som lånat och datum för lånet.</li>
            <li>Lägga till minst en extra tabell för att hantera information om den som lånar ett album.</li>
            <li>Skapa sökfunktion för album.</li>
        </ul>
    </div>
</div>
